* {
  box-sizing: border-box;
  font-family: $family-primary;
  font-weight: 800;
}

main {
  min-height: 100vh;
}

body{
  background-color: lightblue;
}

.modal-map{
  height: 400px;
}

.margin-modal{
  margin: 0;
  border-radius: 0;
}
