.flash-message {
  min-height: 80px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
}

.invalid {
  background-color: $red;
  color: white;
}

.primary {
  background-color: $primary;
  color: white;
}

.neutral {
  background-color: $warning;
  color: $dark-text;
}

.congrats{
  max-width: 400px;
  z-index: 100;
  position: absolute;
  top: -200px;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
}
