.modal {
  background-color: rgba(173, 216, 230, 0.8);

  .modal-card-body {
    background-color: lightblue;
    padding: 0;

    .close-modal {
      background-color: inherit;
      color: $danger;
      border: 0px;
      font-size: 48px;
    }

    .modal-card-title {
      text-align: center;
      font-size: 48px;
      width: 100%;
    }

    .edit {
      border-radius: $default-border-radius;
      padding: 20px;
      font-size: 24px;
      border: 0px;
      background-color: $grey-light;
      color: $white-ter;
    }

    .description {
      margin: 5% 10%;
    }

    .time-and-date {
      background-color: white;
      padding: 20px;
      border-radius: $default-border-radius;
      margin: 5% 10%;
    }

    .close-modal:active {
      outline: none;
      border: none;
    }

    .modal-map {
      height: 250px;
      width: 100%;
    }

    .completedDate {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .complete {
      width: 100%;
      font-size: 48px;
    }

    .margin-modal{
      margin: 0;
      border-radius: 0;
    }
  }
}
