.navbar {
  height: 100px;
  font-size: 24px;
  background-color: $accent-color;

  .navbar-item {
    color: white;
  }

  .navbar-item:hover {
    background-color: $background-color;
    color: white;
  }

  .navbar-logo {
    height: 80px;
    margin: 10px;
  }

  .button {
    margin: auto 20px;
    font-size: 24px;
  }
}
