<!-- <h1 ng-init="main.setCurrentUser()">
  My Tasks:
  <a class="button is-primary add-button is-pulled-right" ui-sref='tasksNew({ id: main.currentUser._id })'>
    <i class="fas fa-plus"></i>
    &nbsp
    Add a task
  </a>
</h1> -->

<section class="todays-tasks container">
  <h2>Today's Tasks:</h2>
  <p class="empty-message" ng-if="!tasksIndex.todaysTasks.length">You have no tasks set for today! <a ui-sref='tasksNew({ id: main.currentUser._id })'>Add a task!</a></p>
  <div class="columns is-multiline">
    <div ng-repeat="task in tasksIndex.todaysTasks" class="column is-half-tablet is-one-third-desktop">
      <div class="card">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 has-text-centered">{{ task.displayTitle }}</p>
            <div class="has-text-centered">
              <a class="button edit" ui-sref='tasksEdit({ id: main.currentUser._id, taskId: task._id })'>
                <i class="fas fa-edit"></i>
              </a>
            </div>
            <div class="description">
              <p class="is-4">{{ task.displayDescrpition }}</p>
            </div>
            <div class="expand-div has-text-centered">
              <button class="expand" ng-click="tasksIndex.selectTask(task)">
                <i class="fas fa-expand-arrows-alt"></i>
                &nbsp
                View More
              </button>
            </div>
            <div class="time-and-date has-text-centered">
              <p class="is-4">
                <i class="fas fa-calendar-alt"></i>
                &nbsp
                {{ task.dueDate }}
              </p>
              <p ng-if="task.time != 'Invalid date'" class="is-4">
                <i class="fas fa-clock"></i>
                &nbsp
                {{ task.time }}
              </p>
            </div>
          </div>
        </div>
        <div ng-if="task.location" class="map" g-map center="task.location">GOOGLE MAP GOES HERE</div>
        <button ng-click="tasksIndex.handleComplete(main.currentUser._id,task._id)" class="button is-primary complete"><i class="fas fa-check"></i>
          &nbsp
          Complete
        </button>
      </div>

      <div class="modal" ng-class="{ 'is-active': tasksIndex.isSelectedTask(task) }">
        <div class="modal-card backcolor">
          <section class="modal-card-body margin-modal">
            <div class="is-pulled-right">
              <button ng-click="tasksIndex.unSelectTask()" class="close-modal" aria-label="close">
                <i class="fas fa-times-circle"></i>
              </button>
            </div>
            <h1 class="modal-card-title">{{ task.displayTitle }}</h1>
            <div class="has-text-centered">
              <a class="button edit" ui-sref='tasksEdit({ id: main.currentUser._id, taskId: task._id })'>
                <i class="fas fa-edit"></i>
              </a>
            </div>
            <p class="description title is-4">{{ task.description }}</p>
            <div class="time-and-date has-text-centered">
              <p class="title is-4">
                <i class="fas fa-calendar-alt"></i>
                &nbsp
                {{ task.dueDate }}
              </p>
              <p ng-if="task.time != 'Invalid date'" class="title is-4">
                <i class="fas fa-clock"></i>
                &nbsp
                {{ task.time }}
              </p>
            </div>
            <div ng-if="task.location" class="modal-map" g-map-max center="task.location">GOOGLE MAP GOES HERE</div>
            <button ng-click="tasksIndex.handleComplete(main.currentUser._id,task._id)" class="button is-primary complete"><i class="fas fa-check"></i>
              &nbsp
              Complete
            </button>
          </section>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="has-text-centered divider">
  <i class="fas fa-leaf"></i>
</div>

<section class="past-tasks container">
  <h2>Past Unfinished Tasks:</h2>
  <p class="empty-message" ng-if="!tasksIndex.pastTasks.length">Congratulations. 🎉  You have no unfinished tasks from the past!</p>
  <div class="columns is-multiline">
    <div ng-repeat="task in tasksIndex.pastTasks" class="column is-half-tablet is-one-third-desktop">
      <div class="card">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 has-text-centered">{{ task.displayTitle }}</p>
            <div class="has-text-centered">
              <a class="button edit" ui-sref='tasksEdit({ id: main.currentUser._id, taskId: task._id })'>
                <i class="fas fa-edit"></i>
              </a>
            </div>
            <div class="description">
              <p class="is-4">{{ task.displayDescrpition }}</p>
            </div>
            <div class="expand-div has-text-centered">
              <button class="expand" ng-click="tasksIndex.selectTask(task)">
                <i class="fas fa-expand-arrows-alt"></i>
                &nbsp
                View More
              </button>
            </div>
            <div class="time-and-date has-text-centered">
              <p class="is-4">
                <i class="fas fa-calendar-alt"></i>
                &nbsp
                {{ task.dueDate }}
              </p>
              <p ng-if="task.time != 'Invalid date'" class="is-4">
                <i class="fas fa-clock"></i>
                &nbsp
                {{ task.time }}
              </p>
            </div>
          </div>
        </div>
        <div ng-if="task.location" class="map" g-map center="task.location">GOOGLE MAP GOES HERE</div>
        <button ng-click="tasksIndex.handleComplete(main.currentUser._id,task._id)" class="button is-primary complete"><i class="fas fa-check"></i>
          &nbsp
          Complete
        </button>
      </div>
      <div class="modal" ng-class="{ 'is-active': tasksIndex.isSelectedTask(task) }">
        <div class="modal-card backcolor">
          <section class="modal-card-body margin-modal">
            <div class="is-pulled-right">
              <button ng-click="tasksIndex.unSelectTask()" class="close-modal" aria-label="close">
                <i class="fas fa-times-circle"></i>
              </button>
            </div>
            <h1 class="modal-card-title">{{ task.displayTitle }}</h1>
            <div class="has-text-centered">
              <a class="button edit" ui-sref='tasksEdit({ id: main.currentUser._id, taskId: task._id })'>
                <i class="fas fa-edit"></i>
              </a>
            </div>
            <p class="description title is-4">{{ task.description }}</p>
            <div class="time-and-date has-text-centered">
              <p class="title is-4">
                <i class="fas fa-calendar-alt"></i>
                &nbsp
                {{ task.dueDate }}
              </p>
              <p ng-if="task.time != 'Invalid date'" class="title is-4">
                <i class="fas fa-clock"></i>
                &nbsp
                {{ task.time }}
              </p>
            </div>
            <div ng-if="task.location" class="modal-map" g-map-max center="task.location">GOOGLE MAP GOES HERE</div>
            <button ng-click="tasksIndex.handleComplete(main.currentUser._id,task._id)" class="button is-primary complete"><i class="fas fa-check"></i>
              &nbsp
              Complete
            </button>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="has-text-centered divider">
  <i class="fas fa-leaf"></i>
</div>

<section class="future-tasks container">
  <h2>Future Tasks:</h2>
  <p class="empty-message" ng-if="!tasksIndex.futureTasks.length">You have no upcoming tasks for the future.</p>
  <div class="columns is-multiline">
    <div ng-repeat="task in tasksIndex.futureTasks" class="column is-half-tablet is-one-third-desktop">
      <div class="card">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 has-text-centered">{{ task.displayTitle }}</p>
            <div class="has-text-centered">
              <a class="button edit" ui-sref='tasksEdit({ id: main.currentUser._id, taskId: task._id })'>
                <i class="fas fa-edit"></i>
              </a>
            </div>
            <div class="description">
              <p class="is-4">{{ task.displayDescrpition }}</p>
            </div>
            <div class="expand-div has-text-centered">
              <button class="expand" ng-click="tasksIndex.selectTask(task)">
                <i class="fas fa-expand-arrows-alt"></i>
                &nbsp
                View More
              </button>
            </div>
            <div class="time-and-date has-text-centered">
              <p class="is-4">
                <i class="fas fa-calendar-alt"></i>
                &nbsp
                {{ task.dueDate }}
              </p>
              <p ng-if="task.time != 'Invalid date'" class="is-4">
                <i class="fas fa-clock"></i>
                &nbsp
                {{ task.time }}
              </p>
            </div>
          </div>
        </div>
        <div ng-if="task.location" class="map" g-map center="task.location">GOOGLE MAP GOES HERE</div>
        <button ng-click="tasksIndex.handleComplete(main.currentUser._id,task._id)" class="button is-primary complete"><i class="fas fa-check"></i>
          &nbsp
          Complete
        </button>
      </div>
      <div class="modal" ng-class="{ 'is-active': tasksIndex.isSelectedTask(task) }">
        <div class="modal-card backcolor">
          <section class="modal-card-body margin-modal">
            <div class="is-pulled-right">
              <button ng-click="tasksIndex.unSelectTask()" class="close-modal" aria-label="close">
                <i class="fas fa-times-circle"></i>
              </button>
            </div>
            <h1 class="modal-card-title">{{ task.displayTitle }}</h1>
            <div class="has-text-centered">
              <a class="button edit" ui-sref='tasksEdit({ id: main.currentUser._id, taskId: task._id })'>
                <i class="fas fa-edit"></i>
              </a>
            </div>
            <p class="description title is-4">{{ task.description }}</p>
            <div class="time-and-date has-text-centered">
              <p class="title is-4">
                <i class="fas fa-calendar-alt"></i>
                &nbsp
                {{ task.dueDate }}
              </p>
              <p ng-if="task.time != 'Invalid date'" class="title is-4">
                <i class="fas fa-clock"></i>
                &nbsp
                {{ task.time }}
              </p>
            </div>
            <div ng-if="task.location" class="modal-map" g-map-max center="task.location">GOOGLE MAP GOES HERE</div>
            <button ng-click="tasksIndex.handleComplete(main.currentUser._id,task._id)" class="button is-primary complete"><i class="fas fa-check"></i>
              &nbsp
              Complete
            </button>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="has-text-centered divider">
  <i class="fas fa-leaf"></i>
</div>
<footer>
  <button ng-click="main.scrollToTop()" class="button is-warning has-text-centered footer-button">Back To Top</button>
</footer>
