<h1 ng-init="main.setCurrentUser()">Index Tasks</h1>

<h2>Today's Tasks:</h2>
<div class="columns is-multiline">
  <div ng-repeat="task in tasksIndex.todaysTasks" class="column is-half-tablet is-one-third-desktop">
      <div class="card">
        <div class="card-image"></div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ task.title }}</p>
              <p class="title is-4">{{ task.description }}</p>
              <p class="title is-4">{{ task.points }}</p>
              <p class="title is-4">{{ task.dueDate }}</p>
            </div>
          </div>
        </div>
        <a class="button" ui-sref='tasksEdit({ id: main.currentUser._id, taskId: task._id })'>Edit</a>
      </div>
  </div>
</div>

<h2>Unfinished Tasks From the Past:</h2>
<div class="columns is-multiline">
  <div ng-repeat="task in tasksIndex.pastTasks" class="column is-half-tablet is-one-third-desktop">
      <div class="card">
        <div class="card-image"></div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ task.title }}</p>
              <p class="title is-4">{{ task.description }}</p>
              <p class="title is-4">{{ task.points }}</p>
              <p class="title is-4">{{ task.dueDate }}</p>
            </div>
          </div>
        </div>
        <a class="button" ui-sref='tasksEdit({ id: main.currentUser._id, taskId: task._id })'>Edit</a>
      </div>
  </div>
</div>

<h2>Tasks set for a future date:</h2>
<div class="columns is-multiline">
  <div ng-repeat="task in tasksIndex.futureTasks" class="column is-half-tablet is-one-third-desktop">
      <div class="card">
        <div class="card-image"></div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ task.title }}</p>
              <p class="title is-4">{{ task.description }}</p>
              <p class="title is-4">{{ task.points }}</p>
              <p class="title is-4">{{ task.dueDate }}</p>
            </div>
          </div>
        </div>
        <a class="button" ui-sref='tasksEdit({ id: main.currentUser._id, taskId: task._id })'>Edit</a>
      </div>
  </div>
</div>
