<h1>NEW TASK</h1>
<form name="tasksNew.form" ng-submit="tasksNew.handleCreate()" novalidate>
  <div >
    <label for="title">Title</label>
    <input class="input" placeholder="Title" name="title" ng-model="tasksNew.data.title"/>
  </div>
    <div class="field">
      <div class="control">
        <div class="select is-primary">
          <label for="service_field">Your Task?</label>
          <select>
            <option>Select dropdown</option>
            <option value="1">Dishwashing</option>
            <option value="2">Walking the Dog</option>
            <option value="3">Clean the kitchen</option>
            <option value="4">Take out Recycling and Bins</option>
            <option value="5">Food shopping</option>
          </select>
        </div>
      </div>
    </div>
  <div class="field">
    <label for="points">Points</label>
    <input class="input" placeholder="Points" name="points" ng-model="tasksNew.data.points"/>
  </div>
  <div class="field">
    <label for="description">Description</label>
    <input class="input" placeholder="Description" name="description" ng-model="tasksNew.data.description"/>
  </div>
  <div class="field">
    <label for="dueDate">DueDate</label>
    <input class="input" placeholder="DueDate" name="dueDate" ng-model="tasksNew.data.dueDate"/>
  </div>
  <button class="button is-primary">Submit</button>
</form>
