<!DOCTYPE html>
<html ng-app="todo">
<head>
  <meta charset="utf-8">
  <title>WDI33 Project 3</title>
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,800" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWsQJmU3ga6-p_SwGkJT2Ro7shpx8QzQI&libraries=places"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmhnxJ-_oKquURKHu0_LLjqi_r_se8DNw&libraries=places"></script> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
</head>
<body ng-controller="MainCtrl as main">
  <nav class="navbar" role="navigation" aria-label="main navigation" ng-init="main.setCurrentUser()">
    <div class="navbar-start">
      <div class="navbar-brand">
        <a ui-sref='home' ng-if="!main.isAuthenticated()">
          <img class="navbar-logo" src="../assets/image/turtle.svg">
        </a>
        <a ui-sref='tasksHome({ id: main.currentUser._id })' ng-if="main.isAuthenticated()">
          <img class="navbar-logo" src="../assets/image/turtle.svg">
        </a>
        <a class="navbar-item" ui-sref='home' ng-if="!main.isAuthenticated()">
          <i class="fas fa-home"></i>
          &nbsp
          Home
        </a>
        <a class="button is-primary add-button is-pulled-right" ui-sref='tasksNew({ id: main.currentUser._id })' ng-if='main.isAuthenticated()'>
          <i class="fas fa-plus"></i>
          &nbsp
          Add a task
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" ng-click="main.toggleNav()" ng-class="{ 'is-active': main.navBarIsOpen }">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="navbar-menu" ng-class="{ 'is-active': main.navBarIsOpen }">
      <div class="navbar-end">
      <a class="navbar-item" ui-sref='tasksHome({ id: main.currentUser._id })' ng-if="main.isAuthenticated()">
        <i class="fas fa-th-list"></i>
        &nbsp
        All My Tasks
      </a>
      <a class="button is-primary" ui-sref="login" ng-if="!main.isAuthenticated()">
        <i class="fas fa-sign-in-alt"></i>
        &nbsp
        Log In
      </a>
      <a class="button is-warning" ui-sref="register" ng-if="!main.isAuthenticated()">
        <i class="fas fa-user-plus"></i>
        &nbsp
        Sign Up
      </a>
      <a class="navbar-item" ui-sref="usersShow({ id: main.currentUser._id })" ng-if="main.isAuthenticated()">
        <i class="fas fa-user"></i>
        &nbsp
        My Profile
      </a>
      <a class="button is-warning" ng-click="main.handleLogout()" ng-if="main.isAuthenticated()">
        <i class="fas fa-sign-out-alt"></i>
        &nbsp
        Log Out
      </a>
    </div>
  </div>
  </nav>
  <div ng-if="main.flashMessage.content" class="flash-message {{ main.flashMessage.style }}">
  {{ main.flashMessage.content }}
</div>
<div ng-if="main.congrats.score" class="user-task-score congrats-msg">
  <div class="card congrats">
    <div class="media">
      <div class="media-content">
        <div class="has-text-centered">
          <div class="UserTaskLevel">
            <div class="task-title">
              Congratulations on completeing your
              <br/>
              {{ main.congrats.title }}
              task.<br/> +5 points.
            </div>
            <h1 class="congrats-msg-medal">{{ main.congrats.score }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ui-view></ui-view>
</div>
</body>
</html>
