<!DOCTYPE html>
<html ng-app="todo">
<head>
  <meta charset="utf-8">
  <title>WDI33 Project 3</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWsQJmU3ga6-p_SwGkJT2Ro7shpx8QzQI&libraries=places"></script>
</head>
<body ng-controller="MainCtrl as main">
  <nav class="navbar" role="navigation" aria-label="main navigation" ng-init="main.setCurrentUser()">
  <div class="navbar-brand">
    <a class="navbar-item" ui-sref='/' ng-if="!main.isAuthenticated()">
      Landing Page
    </a>
    <a class="navbar-item" ui-sref='tasksHome({ id: main.currentUser._id })' ng-if="main.isAuthenticated()">
      Home
    </a>
    <a class="navbar-item" ui-sref="login" ng-if="!main.isAuthenticated()">
      login
    </a>
    <a class="navbar-item" ui-sref="register" ng-if="!main.isAuthenticated()">
      register
    </a>
    <a class="navbar-item" ui-sref="usersShow({ id: main.currentUser._id })" ng-if="main.isAuthenticated()">
      usersShow
    </a>
    <a class="navbar-item" ui-sref='usersEdit({ id: main.currentUser._id })' ng-if="main.isAuthenticated()">
      usersEdit
    </a>
    <a class="navbar-item" ui-sref='tasksNew({ id: main.currentUser._id })' ng-if="main.isAuthenticated()">
      New Task
    </a>
    <a class="navbar-item" ng-click="main.handleLogout()" ng-if="main.isAuthenticated()">
      Log Out
    </a>
  </div>
</nav>
<div ng-if="main.flashMessage.content">
  {{ main.flashMessage.content }}
</div>
<div class="container">
  <ui-view></ui-view>
</div>
</body>
</html>
