// GENERAL VARIABLES
$primary: #92B265;
$accent-color: #5fb3ce;
$background-color: lightblue;
$navbar-height: 5rem;

// BORDERS
$default-border-radius: 20px;
$default-border: 10px solid;

// TYPOGRAPHY
$family-sans-serif: "Dosis", sans-serif;
$family-primary: $family-sans-serif;
$dark-text: #4a4a4a;

// CARDS
$card-background-color: $background-color;

// COLORS FOR DIFFERENT TASKS
$dishwashing-color: #2176AE;
$takeOutRecyclingAndBins-color: #57B8FF;
$changeTheBedSheets-color: #B66D0D;
$takeCareOfBins-color: #FBB13C;
$checkAndChangeLightbulbs-color: #FE6847;
$cleanKitchen-color: #1C3144;
$cleanBathroom-color: #D00000;
$cleanBedroom-color: #FFBA08;
$cleanLivingRoom-color: #A2AEBB;
$deepClean-color: #3F88C5;
$foodShopping-color: #EE6352;
$cleaningEquipment-color: #59CD90;
$ikea-color: #3FA7D6;
$walkTheDog-color: #FAC05E;
$cleanOutTheCar-color: #F79D84;
$workOnGarden-color: #E8B71A;
$exercise-color: #DDE7C7;
$updatingComputerSoftware-color: #BFD8BD;
$clothesWashing-color: #77BFA3;
